* {
  margin: 0px;
  padding: 0px;
  font-family: 'Baloo 2', cursive;
}

body {
  background: #FAD0C9FF;
}

.card {
  width: 30vw;
  height: 30vh;
  border: 1px solid grey;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 30vh;
  background-color: #B1624EFF;
}

.card form {
  margin: 15px 10px;
}

#errorMsg {
  color: white;
  display: none;
}

.btn {
  font-size: 15px;
  display: block;
  width: 15vw;
  margin: 15px auto;
  padding: 5px;
  border: 1px #FC766AFF;
  border-radius: 5px;
  background-color: #D4B996FF;
  outline: none;
  cursor: pointer;
}

.login {
  margin: 10px;
  font-size: 35px;
}

input[type="text"] {
  padding: 3px;
  margin-left: 3px;
  border-radius: 3px;
  border: 1px #D4B996FF solid;
  outline: none;
}

#loginForm input {
  width: 15vw;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 2fr 3fr;
  top: 5vh;
  width: 80vw;
  height: 90vh;
  margin: auto;
  border: 0px;
  border-radius: 5px;
}

#member {
  grid-row: 1/2;
  background-color: lightgoldenrodyellow;
  border: 0px;
  border-radius: 7px 7px 7px 7px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#memberList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

.partiCard {
  height: 30px;
  width: 130px;
  margin: 2px;
  padding: 5px;
  background-color: lightgreen;
  border: 0px;
  border-radius: 5px;
  text-align: center;
}

.partiCard div {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  padding: 5px;
  margin: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(147, 156, 10, 0.61);
  border-radius: 5px;
  border: 1px solid lightgoldenrodyellow;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 3, 0.61);
}

#canvas {
  background-color: lightgray;
  border: 0px;
  border-radius: 7px 7px 7px 7px;
  grid-row: 1/3;
}

canvas {
  width: 100%;
  height: 100%;
}

#chat {
  background: lightpink;
  grid-row: 2/3;
  border-radius: 7px 7px 7px 7px;
  padding: 5px;
  height: 54vh;
}

#chatList {
  height: 90%;
  overflow-y: scroll;
}

#chatList div {
  word-break: normal;
  background-color: khaki;
  border: 0px;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  padding-left: 5px;
}

#chatList .selfChat {
  background-color: rgb(233, 213, 36);
}

#chatList .joinChat {
  background-color: gainsboro;
}

#chatInput {
  width: 90%;
  border-radius: 10px;
  margin: auto;
  margin-top: 5px;
}

#chatForm button {
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.fas {
  text-decoration: none;
  background-color: brown;
}

#error404 {
  color: red;
  width: 30%;
  margin: auto;
  position: relative;
  top: 40vh;
  font-size: 30px;
}